# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/